.practice-sheet {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.character-section {
    display: grid;

    grid-template-columns:
        repeat(9, 120px);

    gap: 8px;

    justify-content: center;
}